div>img {
    width: 500px;
    height: 500px;
    border-radius: 50px;
}

.carousel {
    width: 80%;
    display: inline-block;
}

.carousel.carousel-slider .control-arrow {
    border-radius: 40px;
    width: 100px;
    top: 100px;
    height: 300px;
}

@media (max-width: 1250px) {
    .carousel {
        width: auto;
    }
    div>img {
        height: auto;
    }
    .carousel.carousel-slider .control-arrow {
        top: 10px;
    }
}