.meal {
    display: inline-block;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 25px;
    margin: 20px;
    margin-bottom: 25px;
    padding: 20px;
    border: 1px black solid;
    font-family: quoteText;
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 3px #e60073, 0 0 2px #e60073, 0 0 2px #e60073, 0 0 2px #e60073, 0 0 4px #e60073;
}

#totalPrice {
    font-family: quoteText;
    font-size: 25px;
    color: white;
    text-shadow: 1px 2px 2px black;
}

.orderPayments>div>div>h3 {
    margin: 2px;
    font-size: 35px;
}