.reservations {
    margin-top: 8rem;
    background: linear-gradient(0deg, rgba(255, 0, 149, 0.178), rgba(255, 0, 149, 0.205));
    display: inline-block;
    padding: 200px;
    padding-left: 320px;
    padding-right: 320px;
    border-radius: 500px;
    border: 1px black solid;
}

.reservations>span {
    color: wheat;
    text-shadow: 1px 1px black;
    position: absolute;
    padding-left: 10px;
    font-size: 30px;
    font-family: Burgerfont;
}

input {
    margin-bottom: 35px;
    padding: 15px;
    background-color: wheat;
    border: 1px black solid;
    border-radius: 50px;
}

.reservations>span.fieldTitle {
    display: block;
    margin-right: 0px;
    position: relative;
    padding-left: 0;
}

.reservations>button {
    background-color: wheat;
    padding: 12px;
    font-size: 15px;
    border-radius: 30px;
    border: 1px black solid;
}

.reservations>h1 {
    font-family: Burgerfont;
    text-shadow: .5px .5px 3.5px wheat;
    margin-top: 0px
}