.contactUs {
    background-color: rgba(56, 56, 56, 0.692);
    border: 1px black solid;
}

form {
    margin-top: 50px;
    margin-right: 350px;
}

.textInput {
    margin-right: 250px;
}

.textInput>.errorSpan {
    position: absolute;
    color: red;
    text-shadow: 1px 2px 1px black;
}

.textInput>label>input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
    border: 1px white solid;
}

.textInput>label {
    font-family: chalkFont;
    font-size: 25px;
    color: white;
    margin-top: 15px;
}

.textField {
    margin-right: 150px;
    padding: 10px;
}

.textField>span {
    font-family: chalkFont;
    font-size: 30px;
    color: white;
}

.textField>textarea {
    padding: 15px;
    width: 500px;
    height: 150px;
    background-color: wheat;
    border-radius: 25px;
    border: 1px white solid;
}

.textInput>.errorSpan {
    font-size: 20px;
}

.contactRest>h3 {
    text-shadow: 2px 2px 1px white;
    text-align: left;
    margin-left: 620px;
}

.contactRest>span {
    font-family: chalkFont;
    font-size: 20px;
    color: white;
}

.locationIcon {
    display: inline-block;
    background-image: url('/Morbiez/assets/images/location.jpg');
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 70px;
}

.locationSpan {
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
}

form>button {
    background-color: wheat;
    margin-right: 140px;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    border: 1px white solid;
}

.googleMap {
    border: 0;
    width: 600px;
    height: 400px;
    border-radius: 25px;
    display: 'inline-block';
}

.shareTxt {
    display: block;
    margin-right: 1000px;
}

@font-face {
    font-family: chalkFont;
    src: url('/Morbiez/assets/fonts/chalkFont.ttf');
}

@media (max-width: 1000px) {
    .contactRest>h3 {
        margin-left: 200px;
    }
    form {
        margin-right: 0px;
        margin-bottom: 70px;
    }
    .textInput {
        margin-right: 0px;
    }
    .textInput>label>input {
        display: block;
        margin-left: auto;
    }
    .shareTxt {
        margin-right: 0px;
    }
    .textField {
        margin-right: 0px;
        width: fit-content;
    }
    .textField>textarea {
        width: fit-content;
    }
    .contactUs {}
    form>button {
        margin-right: 0px;
    }
    .googleMap {
        width: fit-content;
    }
}