div>p {
    font-size: 20px;
}

.restMenu>span {
    font-family: Burgerfont;
    font-size: 40px;
    margin-top: 45px;
    margin-bottom: 15px;
}

.dish {
    background: linear-gradient(0deg, rgba(255, 0, 149, 0.178), rgba(255, 0, 149, 0.205));
    padding: 15px;
    border-radius: 120px;
    margin-top: 15px;
    border: 1px black solid;
}
.drinks{
    background: linear-gradient(0deg, rgba(255, 0, 149, 0.178), rgba(255, 0, 149, 0.205));
    padding: 15px;
    border-radius: 120px;
    margin-top: 15px;
    border: 1px black solid;
}

hr {
    height: .5px;
    background-color: rgb(0, 0, 0);
    border: none;
}

.restMenu>div>h2 {
    color: wheat;
    text-shadow: 1px 1px 1px black;
    font-size: 60px;
    font-family: Burgerfont;
}

.dish>p {
    color: rgb(233, 208, 161);
    text-shadow: 1px 1px 1px black;
    font-family: Burgerfont;
    font-size: 35px;
}

@font-face {
    font-family: Burgerfont;
    src: url("/Morbiez/assets/fonts/HamburgerHeavenNF.otf");
}

div>h3 {
    font-family: Burgerfont;
    font-size: 45px;
}

hr {
    width: 50%;
    height: 1px;
}
.scrollButtons{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: rgba(216, 112, 147, 0.658);
    padding: 10px;
    border: black 1px solid;
    border-radius: 25px;
}

.scrollButtons>a{
    color: black;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 15px;
    padding: 5px;
    font-size: 25px;
    text-decoration: none;
}

.scrollButtons>a:active{
    color: wheat;
    background-color: violet;
}

.drinks>h5{
    font-size: 20px;
    color: wheat;
    text-shadow: 1px 1px 1px black;
}
.drinks>h3{
    font-size: 35px;
    color: wheat;
    text-shadow: 1px 1px 1px black;

}